@font-face{
    font-family: 'MyCustomFont';
    src: url("../fonts/queering-font/queering.otf") format('opentype');
}

header{
    background-color: darkred;
    padding: 0px;
    font-family: 'MyCustomFont';
    src: url("../fonts/queering-font/Queering-but-with-different-t.otf") format('opentype');
    font-family: 'MyCustomFont', sans-serif;
    font-size: 100px;letter-spacing: 3px
}

header img{
    height: 300px;
    width: 300px;
    border: 5px solid #000000;
    border-radius: 50%;
    margin-bottom: 10px
}

body{
    background-color: black;
    color: white;
    text-align: center;
    margin: 0px;
    font-family: 'MyCustomFont', sans-serif;
    @font-face{
        font-family: 'MyCustomFont';
        src: url("../fonts/queering-font/queering.otf") format('opentype');
        font-family: 'MyCustomFont', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
            }
}

h2{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 75px;
    letter-spacing: 1.5px;
    background-color: darkred;
}

p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 50px;
    letter-spacing: 1px
}

ul{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 50px;
    letter-spacing: 1px;
    text-align: center;
    list-style-position: inside;
}

.gif-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.tenor-gif-embed {
    width: 15%; /* Adjust the width as needed */
    justify-content: center;
    align-items: center;
}