header{
    background-color: darkred;
    padding: 20px;
    font-family: 'MyCustomFont';
    src: url("../fonts/queering-font/queering.otf") format('opentype');
    font-family: 'MyCustomFont', sans-serif;
    letter-spacing: 1px;
            }

body{
    background-color: black;
    color: white;
    text-align: center;
    margin: 0px;
    font-family: 'MyCustomFont', sans-serif;
    @font-face{
        font-family: 'MyCustomFont';
        src: url("../fonts/queering-font/queering.otf") format('opentype');
        font-family: 'MyCustomFont', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
            }
}

html, body{
    margin: 0;
    padding: 0
}

header img{
    height: 300px;
    width: 300px;
    border: 5px solid #000000;
    border-radius: 50%;
    margin-bottom: 10px;
}

.tenor-gif-embed {
    width: 15%; /* Adjust the width as needed */
    justify-content: center;
    align-items: center;
}

@font-face{
    font-family: 'MyCustomFont';
    src: url("../fonts/queering-font/queering.otf") format('opentype');
}

p{
    font-size: 30px;
    letter-spacing: 1px
}

.gif-container {
    width: 100%;
    display: flex;
    justify-content: center;
}